app_cwsstub.exe
app.exe
*.coff
*.obj
*.lib
*.o
*.a

# generated source
ost.hpp
ost.cpp
bkg.hpp
bkg.cpp

# build support
bin2cpp.exe
exe2coff.exe

# extenders
dos32a.exe
dos4gw.exe
pmodew.exe
pmwlite.exe
